// fonts
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap');
$font-title: 'Handlee',
cursive;
$font-cards: 'Patrick Hand',
cursive;

// margins and paddings
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 1rem;
$margin-4: 2rem;
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 1rem;
$padding-4: 2rem;

// colors
$primary-bg: #227BE5;
$white-border: #CAD6E2;
$dark-blue-border:#003169;
$green-border:#2EB394;
$red-border:#EA3D32;